@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #151F30, #103778 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.574);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E3371E;
    text-align: center;
    text-shadow: 1px 1px #9c2715c2;
}

h2 {
    color: #FF7A48;
}
p {
    text-align: justify;
}